
body {
    font-family: sans-serif;
    padding: 25px;
    padding-top: 0px;
}

label {
    padding: 3px;
}

input {
    margin-right: 5px;
}

#emailOptions {
    margin-bottom: 25px;
    margin-top: 25px;
}



div {
    margin-bottom: 30px;
}





#messageSettings {
    margin-bottom: 25px;
}



#settingsContainer {
    margin-bottom: 0px !important;
}
